body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap:5px;
}
h1{
    font-size:1.5rem;
}
p{
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-weight:600;
}
label{
    font-weight: bold;
    font-size: 0.8rem;
}
input{
   height:2rem;
   
}
textarea{
    resize:none;
}
h2{
    font-size:1rem;
     color: #2c3e50;
}
.preview-card{
    background-color: rgba(128, 128, 128, 0.083);
    padding:10px;
}
.profile-info strong {
  color: #34495e;
}
.profile-info p {
  margin: 5px 0;
  font-size:0.9rem;
}
